header, footer {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  height: 100px;
  background-color: beige;
}

footer {
  height: 50px;
}


.home-article-container, .author-container, .article_container {
  border: 1px solid grey;
  padding: 0 15px;
  margin: 10px;
}

.author-container {

}

.author-image {
  width: 200px;
  border-radius: 50%;
}
